<a href="https://colab.research.google.com/github/vidyaakkiraju/DS/blob/master/Ecommerce_Purchases_Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [3]:
from google.colab import files 


uploaded = files.upload()

ecom = pd.read_csv('Ecommerce Purchases.csv')

**Check the head of the DataFrame.**

In [4]:
ecom.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

** How many rows and columns are there? **

In [6]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [7]:
ecom['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [13]:
ecom['Purchase Price'].max()

99.99

In [14]:
ecom['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [22]:
ecom[ecom['Language'] == 'en'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 11 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           1098 non-null   object
 1   Lot               1098 non-null   object
 2   AM or PM          1098 non-null   object
 3   Browser Info      1098 non-null   object
 4   Company           1098 non-null   object
 5   Credit Card       1098 non-null   int64
 6   CC Exp Date       1098 non-null   object
 7   CC Security Code  1098 non-null   int64
 8   CC Provider       1098 non-null   object
 9   Email             1098 non-null   object
 10  Job               1098 non-null   object
 11  IP Address        1098 non-null   object
 12  Language          1098 non-null   object
 13  Purchase Price    1098 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 128.7+ KB

** How many people have the job title of "Lawyer" ? **

In [24]:
ecom[ecom['Job'] == "Lawyer"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [28]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [30]:
ecom['Job'].value_counts()[0:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [32]:
ecom[ecom['Lot'] == "90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [33]:
ecom[ecom['Credit Card'] ==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [39]:
ecom[(ecom['CC Provider'] == "American Express") & (ecom['Purchase Price'] > 95)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 9 to 9856
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           39 non-null     object
 1   Lot               39 non-null     object
 2   AM or PM          39 non-null     object
 3   Browser Info      39 non-null     object
 4   Company           39 non-null     object
 5   Credit Card       39 non-null     int64
 6   CC Exp Date       39 non-null     object
 7   CC Security Code  39 non-null     int64
 8   CC Provider       39 non-null     object
 9   Email             39 non-null     object
 10  Job               39 non-null     object
 11  IP Address        39 non-null     object
 12  Language          39 non-null     object
 13  Purchase Price    39 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 4.6+ KB

** Hard: How many people have a credit card that expires in 2025? **

In [72]:
def date_split_filter(data):
  if data[3:] == '25':
    return True

ecom['CC Exp Date'].apply(date_split_filter).count()

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [56]:
def email_split(x):
  return x.split('@')[1]
ecom['Email'].apply(email_split).value_counts()[0:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!